/* footer */

footer {
    font-size: $letra-chica;
    border-top: $remarcado-fino;
    padding: 10px 20px;
}

.footerImagen {
    width: 30px;
}

.footerLi {
    padding: 0 10px;
}

.footerLetra h3 {
    font-size: $letra-chica;
}

ul {
    list-style-type: none;
}