/* main */

/* carousel */

.imagenCorrediza {
    width: 100%;
    border: $remarcado-fino;
    border-radius: 10px;
}

.boton {
    z-index: 1;
}

/* main */

.divMain img {
    width: 30px;
}

.ubicacion {
    padding-left: 100px;
}

.iFrame {
    height: 250px;
    width: 250px;
}
